body{
    background-color: #C5C4C4;
}
.container {
    
    width: min(100% - 20rem, 90rem);
    margin-inline: auto;
  }

header{
    
    margin: auto;
    background-color: #DDDDDD;
    border-radius: 4px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    border-radius: 10px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 35px;
  border-radius: 100%;
}
nav ul{
    display: flex;
    column-gap: 35px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.ToDo{
  font-size: 23px;
  font-weight: bold;
  border-left: solid 2px black;
  height: 27px;
  padding-left: 5px;
  margin-left: 5px;
}
.ToDo span{
  font-size: 14px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-top: 100px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  footer {
    position: absolute;
     width: 75%;
      overflow: hidden;
      bottom: 0;
    height:40px;   /* Height of the footer */
    background:#DDDDDD;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
 }