body{
    background-color: #C4D3F6;
}
.container {
    
    width: min(100% - 20rem, 90rem);
    margin-inline: auto;
  }

header{
    
    margin: auto;
    background-color: #DDDDDD;
    border-radius: 4px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 27px;
    border-radius: 10px;
    height: 50px;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 35px;
  border-radius: 100%;
}
nav ul{
    display: flex;
    column-gap: 35px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.ToDo{
  font-size: 23px;
  font-weight: bold;
  border-left: solid 2px black;
  height: 27px;
  padding-left: 5px;
  margin-left: 5px;
}
.ToDo span{
  font-size: 14px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 700px;
    margin: auto;
    margin-top: 100px;
  }
  tbody{
    border-radius: 15px;
  }
  

  th{
    background: #6c7ae0;
    color: #fff;
  }
  td{
    color: #666892;
    background-color: #fff;
  }
  td, th {
    text-align: left;
    padding: 20px;
  }

  table tr:last-child{
    border-bottom: 0px;
  }
  table tr:first-child{
    border-bottom: 0px;
  }
  nav ul li a:hover{
    color: #5f9ea0;
}

table tr:first-child th:first-child {
    border-top-left-radius:10px;
    
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}


table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

  footer {
    position: absolute;
     width: 75%;
      overflow: hidden;
      bottom: 0;
    height:40px;   /* Height of the footer */
    background:#DDDDDD;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .svg-inline--fa{
  display: none;
 }
 @media only screen and (max-width: 900px) {
  table {
    width: 500px;
  }
  nav ul{
    display: none; 
}
.svg-inline--fa{
  display: block;
}
}

@media only screen and (max-width: 700px) {
  table {
    width: 400px;
  }
  nav ul{
    display: none; 
}
.svg-inline--fa{
  display: block;
}
.container{
  width: 90%;
    margin-inline: auto;
}
}

@media only screen and (max-width: 500px) {
  table {
    margin-top: 20px;
    width: 200px;
  }
  nav ul{
    display: none; 
}
.svg-inline--fa{
  display: block;
}
.container{
  width: 90%;
    margin-inline: auto;
}
}